@page
@model Assignment2TypingGame.Pages.gameReadyModel
@{
}


<div>
    <h1 class="center-screen">Game Instructions</h1>
    <br />
    <h5 class="text-center">
        In goal of the game is to try and type as many words correctly before the words hit the bottom of the screen. You will be playing against an opponent
        and will see their progress as you play. The more words you type the more points you get. Try and score higher than your opponent to win the game!
    </h5>
    <br />
    <button class="btn btn-lg btn-primary btn-block text-uppercase form-control center-screen">
        <a class="nav-link text-white text-center" asp-area="" asp-page="/gameBoard">Start</a>
    </button>
</div>