@page
@model Assignment2TypingGame.Pages.gameBoardModel

<body>

    <div class="text-center"> Game Board Page </div>

    <div class="container">
        <div class="row">
            @*<div>
                       <input id="txtName" asp-for="@Model.Player.Username" type="text" class="form-control" />
                </div>*@
            <div class="col text-center scoreContainerLeft scoreText player1 round">
                000
            </div>
            <div class="col text-center timerText">
                <p>
                    <input name="timer" id="timer" value="60" />
                </p>
            </div>
            <div class="col text-center scoreContainerRight scoreText player2 round">
                000
            </div>
        </div>
    </div>

    <div class="container rounded">
        <div class="row">
            <div class="col playerTile player1 round">
                <div class="bg-light typingAreaHeight pt-3 mt-3 wordArea round">
                    Word Area for Player 1
                </div>
                <div>
                    <input type="text" class="col inputArea round" name="playerOneAnswer" value="Typing Area for Player 1" />
                </div>
            </div>

            <div class="col playerTile player2 round">
                <div class="bg-light typingAreaHeight pt-3 mt-3 wordArea round">
                    Word Area for Player 2
                </div>
                <div>
                    <input type="text" class="col inputArea round" name="playerOneAnswer" value="Typing Area for Player 2" />
                </div>
            </div>
        </div>
    </div>

</body>

@section Scripts{
    <script src="~/js/gameBoard.js"></script>
}

