@page
@model Assignment2TypingGame.Pages.gameReadyModel
@{
}


<div>
    <h1>Game Instructions...</h1>
    <h1>Press the button when you are ready to start the game</h1>
    <button class="btn btn-lg btn-primary btn-block text-uppercase form-control">
        <a class="nav-link text-white" asp-area="" asp-page="/gameBoard">Start</a>
    </button>
</div>