@page
@model Assignment2TypingGame.Pages.gameBoardModel



<div class="text-center"> Game Board Page </div>


<div class="container">
    <div class="row">
        @*<div>
            <input id="txtName" asp-for="@Model.Player.Username" type="text" class="form-control" />
        </div>*@
        <div class="col text-center scoreContainerLeft scoreText player1 round">
            000
        </div>
        <div class="col text-center timerText">
            00:00
        </div>
        <div class="col text-center scoreContainerRight scoreText player2 round">
            000
        </div>
    </div>
</div>


<div class="container rounded">
    <div class="row">
        <div class="col playerTile player1 round">
            <div class="bg-light typingAreaHeight pt-3 mt-3 wordArea round">
                <p>Word Area for Player 1</p>
                <ul id="player2GameStateMessage"></ul>
            </div>
            <div>
                <input id="player1Input" type="text" class="col inputArea round" name="playerOneAnswer" value="Typing Area for Player 1" />
            </div>
        </div>

        <div class="col playerTile player2 round">
            <div class="bg-light typingAreaHeight pt-3 mt-3 wordArea round">
                <p>Word Area for Player 2</p>
                <ul id="player1GameStateMessage"></ul>
            </div>
            <div>
                <input id="player2Input" type="text" class="col inputArea round" name="playerOneAnswer" value="Typing Area for Player 2" />
            </div>
        </div>
    </div>
</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/gameState.js"></script>