@page

@model Assignment2TypingGame.Pages.gameBoardModel

<body>

    <div class="row d-flex justify-content-around">
        <input class="text-dark text-center font-weight-bold border border-dark rounded" type="text" name="playerName" disabled="true" id="playerName" />
        <div class="text-dark text-center font-weight-bold border border-dark rounded pl-5 pr-5" name="otherPlayerName" id="otherPlayerName"></div>
    </div>

    <div class="text-center"> Game Board Page </div>
    <div class="container-fluid">
        <div class="row">
            @*
                <div>
                    <input id="txtName" asp-for="@Model.Player.Username" type="text" class="form-control" />
                </div>*@

            <div id="player1Score" class="col scoreContainerLeft scoreText text-center player1 round"></div>
            <div class="col-sm text-center timerText" name="timer" id="timer"></div>
            <div id="player2Score" class="col scoreContainerRight scoreText text-center player2 round"></div>
        </div>
    </div>
    <div class="container-fluid rounded">
        <div class="row height-seventy">
            <div class="col playerTile player1 round">
                <div class="canvasHeight">
                    <div class="col mt-1 h-100 round">
                        <canvas id="canvasPlayer1" class="h-100 round" width="1000px" height="1000px"></canvas>
                    </div>
                </div>
                <div class="typingAreaHeight">
                    <div class="col h-50 mt-2">
                        <input id="player1Input" type="text" class="col h-100 inputArea round" name="playerOneAnswer" />
                    </div>
                </div>
            </div>

            <div class="col playerTile player2 round">
                <div class="canvasHeight">
                    <div class="col mt-1 h-100 round">
                        <canvas id="canvasPlayer2" class="h-100 round" width="1000px" height="1000px" style="background-color:black"></canvas>
                    </div>
                </div>
                <div class="typingAreaHeight">
                    <div class="col h-50 mt-2">
                        <input id="player2Input" style="background-color:black; color:gray;" type="text" class="col h-100 inputArea round" name="playerTwoAnswer" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

@section Scripts{
    <script src="~/js/gameBoard.js"></script>
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/gameState.js"></script>
    <script src="~/js/canvas.js"></script>
}