@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">

    <h1>Typing Game Login</h1>

    <br />
    <br />
    <form action="/" method="post">
        <input type="text" name="username" value="username" />
        <input type="text" name="password" value="password" />
        <a asp-page="gameBoard" class="btn btn-primary">Login</a>
    </form>
  

</div>
