@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<form method="post" asp-action="gameBoard">


    <div class="container">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <h1>Typing Game Login</h1>

        <h5>New User:</h5>
        <div class="form-group row">

            <div class="col-3">
                <label asp-for="UserObj.Username"></label>
            </div>
            <div class="col-9">
                <input class="form-control" asp-for="UserObj.Username" />
                <span class="text-danger" asp-validation-for="UserObj.Username"></span>
            </div>

            <div class="col-3">
                <label asp-for="UserObj.Password"></label>
            </div>
            <div class="col-9">
                <input class="form-control" asp-for="UserObj.Password" />
                <span class="text-danger" asp-validation-for="UserObj.Password"></span>
            </div>
            <a asp-page="gameBoard" class="btn btn-primary">Login</a>
        </div>

        <h5>Existing account:</h5>
        <div class="form-group row">

            <div class="col-3">
                <label asp-for="UserObj.Username"></label>
            </div>

            <div class="col-9">
                <input class="form-control" asp-for="UserObj.Username" />
                <span class="text-danger" asp-validation-for="UserObj.Username"></span>
            </div>

            <div class="col-3">
                <label asp-for="UserObj.Password"></label>
            </div>
            <div class="col-9">
                <input class="form-control" asp-for="UserObj.Password" />
                <span class="text-danger" asp-validation-for="UserObj.Password"></span>
            </div>

            <a asp-page="gameBoard" class="btn btn-primary">Create Account</a>
        </div>

    </div>

</form>


