@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<p>The name is @ViewData["Name"]</p>
<p>The current date is @ViewData["TimeStamp"]</p>
