@import "theme.css";
.round {
    border-radius: 12px;
}

input.round {
    border-radius: 8px;
}

.nameContainer {
    width: 30%;
    float: left;
}

.canvasHeight {
    height: 90%!important;
}

.typingAreaHeight {
    height: 10%!important;
}

.h-80 {
    height: 80%!important;
}

.h-50 {
    height: 50%!important;
}

#canvasPlayer1,
#canvasPlayer2 {
    background-color: white;
    width: 100%;
}


/* FONT SETUP */

.timerText {
    font-family: var(--font-main);
    font-weight: var(--font-main-bold);
    border: none;
    font-size: 50px;
}

.scoreText {
    font-family: var(--font-score);
    font-weight: var(--font-score-semibold);
    font-size: 48px;
    color: white;
}

div.wordArea {
    font-family: var(--font-main);
    font-weight: var(--font-main-bold);
    font-size: 18px;
}

input.inputArea {
    font-family: var(--font-main);
    font-weight: var(--font-main-regular);
    font-size: 17px;
}

.row.noMargin {
    margin: 0px!important;
}


/* PLAYER TILE SETUP */

.height-full {
    height: 100vh;
}

.height-eighty {
    height: 80vh;
}

.height-seventy {
    height: 70vh;
}

.height-sixty {
    height: 60vh;
}

.height-half {
    height: 50vh;
}

.playerTile {
    margin: 20px;
    margin-left: 80px;
    margin-right: 80px;
    padding-top: 10px;
}

.playerTile.player1 {
    background-color: var(--color-leaf-green);
}

.playerTile.player2 {
    background-color: var(--color-gray);
}

.wordArea {
    padding: 5px;
    margin: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.inputArea {
    height: 35px;
}


/* SCORE CONTAINER SETUP */

.scoreContainerLeft {
    margin-left: 80px;
}

.scoreContainerRight {
    margin-right: 80px;
}

.player1 {
    background-color: var(--color-leaf-green);
}

.player2 {
    background-color: var(--color-gray);
}

/*WORD COLOR*/
.correct {
    color: green;
}

.incorrect {
    color: red;
    text-decoration: underline;
}
