@import "theme.css";
.columnHeight {
    height: 500px;
}

.typingAreaHeight{
    height: 450px;
}

.nameContainer{
    width: 30%;
    float: left;

}

.scoreContainer {
    width: 30%;
    float: right;
}